body {
        background-image: url("/Users/drod/Basic-Portfolio/assets/images/stripes-light.png");

}

div {
    padding: 20px;
    height: 400px;
    width: 960px;
    background-color:white;
    position: relative;
    top: 30px;
    left: 100px;
}

h1 {
    color: #4CAF50;
    position: relative;
    top: -10px;
    left: 10px;
}
hr {
    color: #ddd;
    width: 930px;
    position: relative;
    left: 0px;
    top: -10px;
}

img {
    float: left;
    padding: 10px;
}

p.big {
    line-height: 2.0;
}
div.absolute {
    font-size: 20px;
    color: white;
    position: absolute;
    width: 145px;
    height: 25px;
    top: 0px;
    left: 110px;
    background-color: #4CAF50;
}

ul {
    list-style-type: none;
    margin: -10px;
    padding: 10px;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: white;
}

li {
    float: right;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    position: relative;
    left: -200px;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

